@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto+Flex:opsz@8..144&family=Ubuntu:wght@300&display=swap');

.header{
    background-color: #EC9B3B;
    height: 13vh;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-family: 'Roboto Flex', sans-serif;
    color: whitesmoke;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.header>h1{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 3px;
}